{% set paginationMiddleSize = 4 %}
{% set currentPage = currentPage + 1 %}
{% set paginationSize = paginationSize == 1 ? 1 : paginationSize + 1 %}
{{ currentPage }}
{{ paginationSize }}
{% set currentPage = (currentPage < 1) ? 1 : (currentPage > paginationSize) ? (paginationSize == 0 ? 1 : paginationSize): currentPage %}
{% set min = ((currentPage - paginationMiddleSize - 1) < 1) ? 1 : ((currentPage) > paginationSize - paginationMiddleSize) ? paginationSize - paginationMiddleSize : currentPage %}
{% set max = ((min + paginationMiddleSize) > paginationSize) ? (paginationSize == 0 ? min : paginationSize): min + paginationMiddleSize %}
{{ currentPage }}
{{ min }}
{{ max }}
<div class="container sticky-bottom pb-1">
	<nav aria-label="...">
		<ul class="pagination justify-content-center">
			{% if currentPage > 1 %}
				<li class="page-item">
					<a role="button" class="page-link text-primary" onclick="ChangePage({{ currentPage - 2}})">Previous</a>
				</li>
			{% endif %}
			{% for i in range(min, max) %}
				<li class="{{ (currentPage == i ? 'page-item active' : 'page-item') }}">
					<a role="button" class="{{ (currentPage == i ? 'page-link text-white' : 'page-link text-primary') }}" onclick="ChangePage({{ i - 1}})">{{ i}}</a>
				</li>
			{% endfor %}
			{% if max < paginationSize - 1 %}
				<li class="page-item">
					<a class="page-link">...</a>
				</li>
      {% endif %}
      {% if max < paginationSize %}
				<li class="page-item">
					<a role="button" class="page-link text-primary" onclick="ChangePage({{ paginationSize - 1}})">{{paginationSize}}</a>
				</li>
			{% endif %}
			{% if currentPage <= paginationSize and paginationSize > 1 %}
				<li class="page-item">
					<a role="button" class="page-link text-primary" onclick="ChangePage({{ currentPage}})" >Next</a>
				</li>
			{% endif %}
		</ul>
	</nav>
</div>
<script>
	function ChangePage(newPage){
		regex = /p:(\d{1,4})/;
        document.location.href = document.location.href.replace(regex, `p:${newPage}`);
	}

</script>
